{% extends 'header.html' %}

<!-- {% block head %}
<title>Posts</title> 
{% endblock %} -->

{% block body %}
<br>
<!-- <div>
    <h1 style="display:inline">All Posts</h1>
    <a style="display:inline" class="btn btn-success float-right" href="/posts/new" >+ New Post</a>
</div> -->
    <hr>

    {% for post in account %}
    <div class="well">
        <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placekitten.com/150/150">
            </a>
            <div class="media-body">
              <h4 class="media-heading">{{ post.title }}</h4>
            <p class="text-left">{{ post.author }}</p>
            <p>{{ post.content }}</p>
            <ul class="list-inline list-unstyled">
                <li><span><i class="glyphicon glyphicon-calendar"></i> {{ post.date }} </span></li>
              </ul>

              <!-- <a class="btn btn-danger" href='/delete/{{post.id}}'>Delete</a> -->
         </div>
      </div>
    </div>
        <br>
    {% endfor%}

{% endblock %}